footer { 
  width: 100%;
  text-align: center; 
  padding-top: 0.8em;
  background-color: rgb(235, 230, 230);
  @media (min-height: 600px) {
  padding-top: 2em;}
  @media (min-height: 850px) {
  padding-top: 3em;}
  @media (min-height: 1200px) {
  padding-top: 4em;}
}

footer small {
  text-align: center;
  text-transform: uppercase;
}

#solar-icon {
  font-size: 18px;
}

#footer-text {
  font-size: 12px;
}