footer { 
  @extend %padding-large;
  width: 100%;
  bottom: 0;
  left: 0;
  text-align: center; 
  small { text-transform: uppercase; }
}

#solar-icon {
  font-size: 18px;
}

#footer-text {
  font-size: 12px;
}