.single-wrap {
  width: 100vw;
  margin: auto;
  font-family: $font-family;
  background: $white-fill;
  z-index: 1;

  .feat {
    text-align: center;
    border-bottom: 1px transparent;
    margin: 10 auto;
    }
}

// Pagination

#prev,
#next {
  position: fixed;
  text-decoration: none;
  background: $bg-color;
  border: 1px solid $border-color;
  padding: $spacing-xs;
  line-height: 1;
  border-radius: 100px;
  bottom: $spacing-m;
  color: #333;
  @media (max-width: 942px) {
    position: relative;
    padding: .8em $spacing-s .7em;
    margin-top: 3.5em;
    
    &:hover {
      background: lighten($bg-color, 10%);}
    }
  }

#prev { 
  left: 0.5em; 
  @media (max-width: 942px) {
    float: left; 
  }
}

#next { 
  right: 0.5em;
  @media (max-width: 942px) {
    float: right; 
  }
}

#prev:active, 
#next:active {
  border-color: $main-color;
}

.nav-title {
  display: none;
  @media (max-width: 942px) {
    display: inline; 
  }
}

.nav-title-prev {
  margin-left: $spacing-xs;
  margin-right: $spacing-xs;
}

.nav-title-next {
  margin-right: $spacing-xs;
  margin-left: $spacing-xs;
}

#prev:hover .nav-title,
#next:hover .nav-title {
  display: inline;
}

/* content-pages */

.single-content {
  background-color: $main-color;
  font-size: 14px;
}

.content-container {
  background-color: $main-color;
  margin: 0 auto;
  max-width: 500px;
  text-align: center;
  padding: 3em;
}

.desc-container { 
  color: darken($white-fill, 3%);
}

.image-holder {
  display: inline-block;
  padding: 1em;
}

.image-holder img {
  max-height: 200px;
}

.access-content {
  padding: $spacing-xs;
  background-color: $white-fill;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  text-decoration: none;
  border-radius: 3%;
  color: darken($main-color, 10%);
  text-transform: uppercase;
  font-weight: 600;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.access-content:hover {
  background-color: darken($main-color, 10%);
  border: solid darken($main-color, 10%), 1px;
  color: $white-fill;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

// refugee video style

.refugee-video {
  position: relative;
  margin-top: 2.5em;
  left: 50%;
  transform: translateX(-50%);
}

// refugee infographic style

.ig-container {
  position: relative;
  margin: auto;
  
  img {
    width: 100vw;
  }

}

//  about page

.about {
  padding: 1em;
  color: $white-fill;
}