---
layout: default
---

<!-- Post page header -->

<section class="single-wrap">
  <article class="single-content" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="feat">
      <h5 class="page-title" itemprop="name headline">{{ page.title }}</h5>
    </div>

<!-- Main Page content goes here (content in _posts) -->

  <ul class="posts">
    <li itemscope itemtype="http://schema.org/BlogPosting">
      <a href="#">
        <div class="p-wrap">
          <article class="inner">
            <p>Class 1</p>
          </article>
        </div>
      </a>
    </li>
    <li itemscope itemtype="http://schema.org/BlogPosting">
      <a href="#">
        <div class="p-wrap">
          <article class="inner">
            <p>Class 2</p>
          </article>
        </div>
      </a>
    </li>
    <li itemscope itemtype="http://schema.org/BlogPosting">
      <a href="#">
        <div class="p-wrap">
          <article class="inner">
            <p>Class 3</p>
          </article>
        </div>
      </a>
    </li>
    <li itemscope itemtype="http://schema.org/BlogPosting">
      <a href="#">
        <div class="p-wrap">
          <article class="inner">
            <p>Class 4</p>
          </article>
        </div>
      </a>
    </li>
  </ul>
  
  <!-- Footer site navigation buttons -->
  {% if page.next %}
      <a rel="next" href="{{ site.baseurl }}{{ page.next.url }}" id="next">
        <span class="nav-title nav-title-next">Next</span> &rarr;
      </a>
    {% endif %}
    {% if page.previous %}
      <a rel="prev" href="{{ site.baseurl }}{{ page.previous.url }}" id="prev">
        &larr; <span class="nav-title nav-title-prev">Back</span>
      </a>
    {% endif %}
  </article>
</section>
