---
layout: default
---

<!-- Post page header -->

<section class="single-wrap">
  <article class="single-content" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="feat">
      <h5 class="page-title" itemprop="name headline">{{ page.title }}</h5>
    </div>

<!-- Main Page content goes here (content in _posts) -->

<main>
  {{ content }}
</main>
  
  <!-- Footer site navigation buttons -->
  {% if page.next %}
      <a rel="next" href="{{ site.baseurl }}{{ page.next.url }}" id="next">
        <span class="nav-title nav-title-next">Next</span> &rarr;
      </a>
    {% endif %}
    {% if page.previous %}
      <a rel="prev" href="{{ site.baseurl }}{{ page.previous.url }}" id="prev">
        &larr; <span class="nav-title nav-title-prev">Back</span>
      </a>
    {% endif %}
  </article>
</section>
